.notes-container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.notes-heading {
  margin-bottom: 10px;
  color: #333;
    font-size: 1.5rem;

  font-weight: 600;
}

.notes-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: border 0.3s;
}

.notes-input:focus {
  border: 1px solid #000;
  outline: none;
}

.notes-button {
  background: #000;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

.notes-button:hover {
  background: #333;
}
