.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10%;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.nav-logo img {
  height: 50px; /* adjust size */
  width: auto;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar ul li a {
  text-decoration: none;
  color: #111;
  font-weight: 500;
  transition: 0.3s ease;
}

.navbar ul li a:hover {
  color: #355E3B;
}
